/*------------------------------------*\
    $BOX
\*------------------------------------*/
.box {
  padding: 18px 3% 18px 3%;
}

.box--cerulean {
  background: $cerulean;
}

.box__headline {
  font-size: 1.125em;
  margin-bottom: 5px;
}

.box__content {
  font-size: 0.75em;
}