/*------------------------------------*\
    $HEADER
\*------------------------------------*/
.content {
  background-color: $white;
  min-height: 80%;
  padding-bottom: 40px;
  //padding-bottom: 40px;
  //padding: 18px 3% 40px 3%;
}

.content__inner--top--space {
  padding-top: 40px;
}

.content--text {
  color: $teal-blue;
  font-size: 14px;
  line-height: 1.3;
  margin-bottom: 20px;
}

.content--text--small {
  font-size: 12px;
}