/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
.footer {
  height: 50px;
  padding: 20px 1% 20px 1%;
  background-color: $white;
}
.footer-user {
  background-color: $dark-blue;
  color: $white;
}