/*------------------------------------*\
    $HEADER
\*------------------------------------*/
.header {
  background-color: $white;
  padding: 24px 0 18px 0;
  border-bottom: 2px solid $cerulean;
}

.csc--header.header {
  background-color: $light-green;
}

.header--logged-in {
  border-bottom: none;
}

.header__username {
  font-size: 12px;
  color: $gray;
}

.csc--header .header__username {
  font-size: 12px;
  color: $white;
}

.header__username__name {
  background: url(../img/icons/system-links-separator.png) right center no-repeat;
  padding: 0 9px 0 0;
}

.header__username__logout {
  padding: 0 0 0 4px;
}

.header__language-switch img {
  position: relative;
  top: 3px;
}