/*------------------------------------*\
    $LIST

    logicline GmbH
\*------------------------------------*/
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list__item {
  background: #e5e5e5;
  color: #00AEEF;
  margin-bottom: 10px;
  padding: 13px 20px;
}