/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/
nav {
  float: left;
  width: 100%;
}

nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  background: $cerulean;
  list-style-type: none;
  float: left;
}

nav ul li {
  display: inline-block;
  padding: 17px 2.1% 14px 2.1%;
  border-right: 1px solid #33bef2;
  color: $white;
  text-transform: uppercase;
  font-family: Arial;
  font-size: 17px;
  float: left;
}

nav ul li.active {
  background: #e5e5e5;
  color: rgb(4, 56, 90);
}

@media only screen and (min-width: 40.063em) {
  nav ul li {
    float: none !important;
    display: table-cell;
  }
}

@media only screen and (min-width: 64.063em) {
  nav ul li {
    float: none !important;
    display: table-cell;
  }
}