/*------------------------------------*\
    $PRELOADER

    logicline GmbH
\*------------------------------------*/
$size         : 1.4em;
$duration     : 0.75s;
$border-radius: $size;
$bg-color     : $cerulean;

.preloader {
  display: none;
  position: absolute;
  background: rgba(229, 229, 229, 0.9);
  width: 100%;
  z-index: 1000;
}

.loader {
  display: block;
  width: 5* $size;
  position: relative;
  top: 50%;
  margin: 0px auto;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: translateY(0%);
  }

  30% {
    -webkit-transform: translateY(-$size/4);
  }

  50% {
    -webkit-transform: translateY(0%);
  }

  70% {
    -webkit-transform: translateY($size/4);
  }

}

.loader {
  display: block;

  .inner1, .inner2, .inner3 {
    display: inline-block;

    margin: $size*0.125;
    width: $size/2;
    height: $size/2;

    border: 1px solid $bg-color;
    border-radius: $border-radius;
    background-color: $bg-color;

    -webkit-transform-origin: 50%;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: rotate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
  }

  .inner2 {
    -webkit-animation-delay: $duration*0.25;
  }

  .inner3 {
    -webkit-animation-delay: $duration*0.5;
  }
}