<!-- Start: Preloader -->
<div ng-include="'templates/_preloader.html'"></div>
<!-- End: Preloader -->

<!-- Start: Content -->
<div class="content__inner">
  <!-- Start: Form -->
  <form name="userEditForm" ng-submit="createUser(userEditForm.$valid, userInformation);" novalidate>
    <div class="row">
      <div class="small-12 columns">
        <!-- Start: Headline & help -->
        <h3 class="headline--border">
          {{ 'USER_CREATE_HEADLINE' | translate}}
        </h3>

        <p class="content--text">
          {{ 'USER_CREATE_SUBHEADLINE' | translate}}
        </p>

        <p class="content--text" ng-show="updated">
          <span class="help--success">{{ 'USER_EDIT_SAVE_SUCCESS' | translate}}</span>
        </p>
        <!-- End: Headline & help -->
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <input type="text" name="mainName" placeholder="{{ 'USER_EDIT_FORM_FIRSTNAME' | translate }}" class="small-12 medium-5 columns input" required ng-model="userInformation.mainName" ng-class="{ 'has--error': userInformationSubmitted && (userEditForm.mainName.$error.required || userEditForm.mainName.$invalid) }" />
        <input type="text" name="mainSurname" placeholder="{{ 'USER_EDIT_FORM_LASTNAME' | translate }}" class="small-12 medium-5 medium-pull-1 columns input" required ng-model="userInformation.mainSurname" ng-class="{ 'has--error': userInformationSubmitted && (userEditForm.mainSurname.$error.required || userEditForm.mainSurname.$invalid) }" />
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <input type="text" name="mainStreet" placeholder="{{ 'USER_EDIT_FORM_STREET' | translate }}" class="small-12 medium-5 columns input" ng-model="userInformation.mainStreet" />
        <input type="text" name="mainCountry" placeholder="{{ 'USER_EDIT_FORM_COUNTRY' | translate }}" class="small-12 medium-5 medium-pull-1 columns input" ng-model="userInformation.mainCountry" />
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <input type="text" name="mainZipcode" placeholder="{{ 'USER_EDIT_FORM_ZIPCODE' | translate }}" class="small-12 medium-5 columns input" ng-model="userInformation.mainZipcode" />
        <input type="text" name="mainCity" placeholder="{{ 'USER_EDIT_FORM_CITY' | translate }}" class="small-12 medium-5 medium-pull-1 columns input" ng-model="userInformation.mainCity" />
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <input type="text" name="email" placeholder="{{ 'USER_EDIT_FORM_EMAIL' | translate }}" class="small-12 medium-5 columns input" required ng-model="userInformation.email" ng-class="{ 'has--error': userInformationSubmitted && (userEditForm.email.$error.required || userEditForm.email.$invalid) }" />
        <input type="text" name="phone" placeholder="{{ 'USER_EDIT_FORM_PHONE' | translate }}" class="small-12 medium-5 medium-pull-1 columns input" ng-model="userInformation.mainPhone" />
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns spacing--top--20">
        <!-- Start: Buttons -->
        <input type="submit" value="{{ 'BTN_SAVE' | translate }}" class="small-5 medium-2 columns cursor--pointer btn btn--submit" />
        <input type="button" class="small-5 medium-2 left spacing--left--10 columns cursor--pointer btn btn--cancel" ng-click="goTo('dashboard');" value="{{ 'BTN_CANCEL' | translate }}"/>
        <!-- End: Buttons -->
      </div>
    </div>
  </form>
  <!-- End: Form -->
</div>
<!-- End: Content -->