<!-- Start: Preloader -->
<div ng-include="'templates/_preloader.html'"></div>
<!-- End: Preloader -->

<!-- Start: Content -->
<div class="content__inner">
  <form name="userEditForm" ng-submit="fileUpload(files);" novalidate>
    <div class="row">
      <div class="small-12 columns">
        <!-- Start: Headline & help -->
        <h3 class="headline--border">
          {{ 'USER_UPLOAD_HEADLINE' | translate}}
        </h3>
        <p class="content--text">
          {{ 'USER_UPLOAD_SUBHEADLINE' | translate}}
          <span class="help--success" ng-show="updated">{{'USER_UPLOAD_SUCCESS' | translate}}</span>
          <span class="help--error" ng-show="error">{{'USER_UPLOAD_ERROR' | translate}}</span>
        </p>
        <!-- End: Headline & help -->
      </div>
    </div>

    <div class="row spacing--top--15">
      <div class="small-12 columns">
        <!-- Start: Upload csv -->
            <div class="row">
              <div class="small-12 columns">
                <p class="content--text">Mamimum file size: 50MB</p>
                <input type="file" ng-file-select ng-model="files" class="btn--upload" accept=".csv" ng-accept="validate($file)" />
              </div>
            </div>
      
            <div class="row">
              <div class="small-12 columns spacing--top--20">
                <input type="button" class="small-5 medium-2 columns cursor--pointer btn btn--cancel" ng-click="goTo('dashboard');"  value="{{ 'BTN_CANCEL' | translate }}"/>
                <input type="submit" value="{{ 'BTN_UPLOAD' | translate }}" class="small-5 medium-2 medium-pull-1 columns spacing--left--20 cursor--pointer btn btn--submit" />
              </div>
            </div>
        <!-- End: Upload csv -->
      </div>
    </div>
  </form>
</div>
<!-- End: Content -->