/target
/target-grunt
/.classpath
/.project
/.settings
/tomcat.*
/.idea
/*.iml

# --------------------
# Exclude client dev files
# --------------------
/src/main/client/node_modules
/src/main/client/bower_components
/src/main/webapp/resources
/src/main/webapp/index.jsp
# --------------------
# OSX Files
# --------------------
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# --------------------
# Windows
# --------------------
Thumbs.db
ehthumbs.db

# --------------------
# Server / Linux
# --------------------
.bash_history
.ssh
.vim*
.composer
.gitconfig
.bashrc

# --------------------
# Netbeans Files
# --------------------
nbproject
nbproject/private/
build/
nbbuild/
#dist/
nbdist/
nbactions.xml
nb-configuration.xml

# --------------------
# SASS Files
# --------------------
.sass-cache/
.tmp/

# --------------------
# Bower Files
# --------------------
.bower-*/
bower_components

# --------------------
# App Files
# --------------------
test/coverage/
modules/public/
modules/views/
/public/build/

# --------------------
# NodeJS
# --------------------
node_modules/

# --------------------
# Exclude css files
# --------------------
www/css/logicline.css
www/css/logicline.min.css
