/*------------------------------------*\
    $BODY

    logicline GmbH
\*------------------------------------*/
body {
  background: url('/img/background/bg.jpg') top center fixed no-repeat;
  @extend %sans--normal;
  font-size: 1.125em;
  line-height: 1.5;
  height: 100%;
  color: $black;
}