/*------------------------------------*\
    $BUTTONS

    logicline GmbH
\*------------------------------------*/
button {
  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
    border: none;
  }
}

.btn {
  -webkit-appearance: none;
  display: inline-block;
  border: none;
  @extend %sans--normal;
  font-size: 17px;
  text-decoration: none;
  padding: 0 22px;
  line-height: 38px;
  &:hover,
  &:focus,
  &:active {
    outline: none;
  }

  border-radius: 4px;
}

.btn-holder {
  display: inline-block;
}

.btn-holder--arrow {
  background: url('../img/icons/arrows-sprite.png') top center fixed no-repeat;
}

.btn--submit {
  background: #9dd53a;
  background: -moz-linear-gradient(top,  #9dd53a 0%, #a1d54f 15%, #80c217 51%, #7cbc0a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9dd53a), color-stop(15%, #a1d54f), color-stop(51%, #80c217), color-stop(100%, #7cbc0a));
  background: -webkit-linear-gradient(top, #9dd53a 0%, #a1d54f 15%, #80c217 51%, #7cbc0a 100%);
  background: -o-linear-gradient(top, #9dd53a 0%, #a1d54f 15%, #80c217 51%, #7cbc0a 100%);
  background: -ms-linear-gradient(top, #9dd53a 0%, #a1d54f 15%, #80c217 51%, #7cbc0a 100%);
  background: linear-gradient(to bottom, #9dd53a 0%, #a1d54f 15%, #80c217 51%, #7cbc0a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dd53a', endColorstr='#7cbc0a', GradientType=0);
  color: $white;
}

.btn--cancel {
    background: #00b7ea;
    background: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,#009ec3));
    background: -webkit-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
    background: -o-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
    background: -ms-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
    background: linear-gradient(to bottom, #00b7ea 0%, #009ec3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00b7ea', endColorstr='#009ec3', GradientType=0);
    color: $white;
}