/*------------------------------------*\
    $INPUTS
\*------------------------------------*/
.input {
  width: 100%;
  border: 1px solid $white;
  margin-bottom: 20px;
  padding: 9px 1.25%;
  font-size: 0.75em;
  color: $scorpion;

  -moz-box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1),inset -2px 0 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2),inset -2px 0 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1),inset -2px 0 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2),inset -2px 0 2px rgba(0, 0, 0, 0.1);
}
.input-gray {
  background-color: $light-gray;
}
.input-delete {
  position: absolute;
  background: url(../img/icons/icn-del-file.png) no-repeat;
  background-size: 20px 20px;
  width: 20px !important;
  height: 20px;
  top: 4px;
  padding: 0 !important;
  margin: 0 10px 0 0;
}
.input-delete:hover {
  background: url(../img/icons/icn-del-file-active.png) no-repeat;
  background-size: 20px 20px;
}
.input-delete-content {
  position: absolute;
  background: url(../img/icons/icn-del.png) no-repeat;
  background-size: 20px 20px;
  width: 20px !important;
  height: 20px;
  top: 4px;
  padding: 0 !important;
  margin: 0 0 0 10px;
}
.input-delete-content:hover {
  background: url(../img/icons/icn-del-active.png) no-repeat;
  background-size: 20px 20px;
}
.input-reset {
  position: absolute;
  background: url(../img/icons/icn-pw-reset.png) no-repeat;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.input-reset:hover {
  background: url(../img/icons/icn-pw-reset-active.png) no-repeat;
  background-size: 20px 20px;
}

.input-search {
  font-size: 0.5em;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

@media only screen and (min-width: 40.063em) {
  .input-search {
    width: 19.6% !important;
  }
}