/*------------------------------------*\
    $LINKS

    logicline GmbH
\*------------------------------------*/
a {
  text-decoration: none;
  color: inherit;
}

body {
  -webkit-tap-highlight-color: rba(0, 0, 0, .35);
}