<!-- Start: Preloader -->
<div ng-include="'templates/_preloader.html'"></div>
<!-- End: Preloader -->

<!-- Start: Content -->
<div class="content__inner">
	<div class="row">
		<div class="small-12 columns">
			<h3 class="headline--border">{{ 'DASHBOARD_HEADLINE' | translate
				}}</h3>
			<p class="content--text">{{ 'DASHBOARD_SUBHEADLINE' | translate
				}}</p>
		</div>
	</div>
	<div class="row spacing--top--15">
		<!-- Start: Dashboard -->
		<div class="small-12 columns spacing--top--15">
			<div
				class="small-12 medium-3 columns box box--cerulean cursor--pointer"
				ng-click="goTo('customer_search');" access="Admin,CSC Admin"
				access-is-rendered="FALSE">
				<p class="box__headline">{{
					'DASHBOARD_BOX_SEARCH_CUSTOMER_HEADLINE' | translate }}</p>
				<p class="box__content">{{
					'DASHBOARD_BOX_SEARCH_CUSTOMER_CONTENT' | translate }}</p>
			</div>

			<div class="show-for-small-only small-12 columns">&nbsp;</div>

			<div
				class="small-12 medium-3 columns box box--cerulean cursor--pointer"
				ng-click="goTo('user_edit', {userId: userIdFk});" access-is-rendered="FALSE">
				<p class="box__headline">{{
					'DASHBOARD_BOX_PERSONAL_DATA_HEADLINE' | translate }}</p>
				<p class="box__content">{{ 'DASHBOARD_BOX_PERSONAL_DATA_CONTENT'
					| translate }}</p>
			</div>

			
		</div>

		<!-- End: Dashboard -->
	</div>
</div>
<!-- End: Content -->