<!-- Start: Preloader -->
<div ng-include="'templates/_preloader.html'"></div>
<!-- End: Preloader -->

<div class="space"></div>
<!-- Start: Content -->
<div class="content__inner--login">
    <!-- Start: Form -->
    <form name="loginForm" ng-submit="performLogin(loginForm.$valid, login);" novalidate>
        <div class="row">
            <div class="small-12 columns">
                <!-- Start: Headline & help
        <h3 class="headline--border">
          {{ 'LOGIN_HEADLINE' | translate }}
        </h3>
		-->
                <h3 class="headline">{{ 'LOGIN_HEADLINE' | translate }}</h3>
                <p class="content--text">
                    {{ 'LOGIN_SUBHEADLINE' | translate }}
                    <span class="help--error" ng-if="isEmptyCredentials">{{ 'LOGIN_SUBHEADLINE' | translate }}</span>
                    <span class="help--error" ng-if="isLoginInvalid">{{ 'LOGIN_ERROR' | translate }}</span>
                    <span class="help--error" ng-if="isLoginForbidden">{{ 'LOGIN_FORBIDDEN' | translate }}</span>
                    <span clasS="help--error" ng-if="isConfigInvalid">{{ 'LOGIN_INVALID_CONFIG' | translate }} <a target="_new" style="text-decoration: underline;" href="http://bit.ly/28jYOL3">{{ 'HERE' | translate }}</a>.</span>
                    <span class="help--error" ng-if="isInternalError">{{ 'LOGIN_INTERNAL_ERROR' | translate }}</span>
                    <span class="help--error" ng-if="isLocked">{{ 'LOGIN_LOCK_ERROR' | translate:{minutes:15} }}</span>
                </p>
                <!-- End: Headline & help -->

                <!-- Start: Mandatory fields -->
                <input type="text" name="username" placeholder="{{ 'LOGIN_FORM_ORGANIZATION_ID' | translate }}" class="small-12 medium-12 input"
                    required ng-model="login.username" ng-class="{ 'has--error': loginForm.$submitted && ((loginForm.username.$error.required || loginForm.username.$invalid) || isLoginInvalid || isEmptyCredentials) }"
                />
                <input type="password" name="password" placeholder="{{ 'LOGIN_FORM_PASSWORD' | translate }}" class="small-12 medium-12 input"
                    required ng-model="login.password" ng-class="{ 'has--error': loginForm.$submitted && ((loginForm.password.$error.required || loginForm.password.$invalid) || isLoginInvalid || isEmptyCredentials) }"
                />
                <!-- End: Mandatory fields -->
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns">
                <div id="recaptcha_block"></div>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns">
                <!-- Start: Submit -->
                <input type="submit" value="{{ 'BTN_LOGIN' | translate }}" class="cursor--pointer spacing--top--20 btn btn--submit" />
                <!-- End: Submit -->
            </div>
        </div>
    </form>
    <!-- End: Form -->
</div>
<!-- End: Content -->
