<div class="row">
  <div class="small-4 columns">
    <!-- Start: Logo -->
    <img src="./img/logo.png" width="236" height="66" alt="logicline Customer Service" class="float--left display--block header__logo cursor--pointer" ng-click="goTo(User? 'dashboard': 'login');" />
    <!-- End: Logo -->
  </div>

  <!-- Start: User -->
  <div class="small-10 medium-6 columns header__username text--right">
  	<div ng-if="User">
      <span class="display--inline--block header__username__name">{{'HELLO' | translate}} {{ User.username }}</span>
      <span class="display--inline--block cursor--pointer header__username__logout" logout>{{'BTN_LOGOUT' | translate}}</span>
  	</div>
  </div>
  <!-- End: User -->

  <!-- Start: Languages -->
  <div class="small-2 medium-2 columns header__language-switch text--right">
    <img src="./img/icons/lang-de.gif" alt="German" title="German" width="20" height="12" class="spacing--left--10 float--right cursor--pointer" ng-click="languageSwitch('de_DE');">
    <img src="./img/icons/lang-en.gif" alt="English" title="English" width="20" height="12" class="float--right cursor--pointer" ng-click="languageSwitch('en_US');">
  </div>
  <!-- End: Languages -->
</div>
