/*------------------------------------*\
    $CONTAINER
\*------------------------------------*/
$container__max-width: 970px;

.container {
  @include clearfix();
  margin-left: auto;
  margin-right: auto;
  max-width: $container__max-width;
}