/*------------------------------------*\
    $FONTS

    logicline GmbH
\*------------------------------------*/
$sans: Arial, Helvetica, sans-serif !important;

%sans--normal {
  font-family: $sans;
  font-weight: 300;
  font-style: normal;
}

%sans--regular {
  font-family: $sans;
  font-weight: 500;
  font-style: normal;
}

%sans--semi-bold {
  font-family: $sans;
  font-weight: 700;
  font-style: normal;
}

%sans--bold {
  font-family: $sans;
  font-weight: 900;
  font-style: normal;
}