/*------------------------------------*\
    $HELPER

    logicline GmbH
\*------------------------------------*/
/*
 * Position
 */
.position--relative {
  position: relative;
}

.position--absolute {
  position: absolute;
}

/*
 * Float
 */
.float--left {
  float: left;
}

.float--right {
  float: right;
}

.clear {
  clear: both;
}

/*
 * Display
 */
.display--block {
  display: block;
}

.display--inline--block {
  display: inline-block;
}

.display--inline {
  display: inline;
}

.visibility--hidden,
.hidden {
  visibility: hidden;
}

.display--hidden {
  display: none;
}

/*
 * Text alignment
 */
.text--left {
  text-align: left !important;
}

.text--right {
  text-align: right !important;
}

.text--center {
  text-align: center !important;
}

.text--white {
  color: $white;
}

/*
 * Text formatting
 */
.text--uppercase {
  text-transform: uppercase;
}

.text--italic {
  font-style: italic;
}

/*
 * Cursor
 */
.cursor--default {
  cursor: default;
}

.cursor--pointer {
  cursor: pointer;
}

/*
 * Padding
 */
.no--padding {
  padding: 0 !important;
}

/*
 * Spacing
 */
.no--top--space {
  margin-top: 0 !important;
}

.spacing--top--15 {
  margin-top: 15px;
}

.spacing--top--20 {
  margin-top: 20px;
}

.spacing--top--30 {
  margin-top: 30px;
}

.spacing--top--40 {
  margin-top: 40px;
}

.spacing--left--10 {
  margin-left: 10px;
}

.spacing--left--20 {
  margin-left: 20px;
}

/*
 * Selection
 */
.no--text--selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*
 * Error
 */
.has--error {
  border: 1px solid red !important;
}

/*
 * Help
 */
.help--success {
  color: green;
}

.help--error {
  color: red;
}