/*------------------------------------*\
    $RESET

    logicline GmbH
\*------------------------------------*/
* {
  &,
  &:before,
  &:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
audio,
canvas,
video {
    display: block;
}

input,
textarea,
a {
  outline: none;
}

::-webkit-input-placeholder {
   color: $scorpion;
}

:-moz-placeholder {
   color: $scorpion;
}

::-moz-placeholder {
   color: $scorpion;
}

:-ms-input-placeholder {
   color: $scorpion;
}