/*------------------------------------*\
    $VARS
\*------------------------------------*/
// Colors
$black      : #000000;
$white      : #ffffff;
$cerulean   : #00AEEF;
$scorpion   : #606060;
$teal-blue  : #043759;
$dark-blue  : #06395B;
$gray       : #909090;
$light-gray : #E2E2E2;
$light-green: #7CBC0A;